@font-face {
  font-family: "Garamond";
  src: url("../fonts/Garamond\ Regular.ttf");
}

:root {
  --secondary-text-color: #a3a3a3;
}

.navbar-brand-offwhite {
  color: #494949;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Garamond", serif;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  border: none !important;
  margin: 0;
}

h1 {
  font-size: 1.2rem;
}

.navbar {
  background: linear-gradient(
    90deg,
    rgba(17, 18, 19, 1) 0%,
    rgba(37, 40, 45, 1) 65%,
    rgba(39, 40, 41, 1) 100%
  );
}

.aside-info-container {
  background: linear-gradient(#e8e8e8, #fff);
}
.aside-info .list-group-item {
  background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.restOfTheContent {
  overflow-y: scroll;
  overflow-x: hidden;
}

form {
  border-radius: 15px;
}

form input {
  border-radius: 0 15px 15px 0;
  padding-left: 2px;
  height: 25px;
}

form img {
  padding: 3px;
  height: 25px;
  padding-left: 11px;
  border-radius: 15px 0 0 15px;
  background-color: #fff;
}

.hero {
  background-color: #111213;
  color: var(--secondary-text-color);
}

.fa-twitter:before,
.fa.fa-facebook-f:before,
.fa-free-code-camp:before,
.fa-forumbee:before,
.fa-google:before {
  height: 2rem;
  width: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: #c1bfbf;
}

.nav-link i {
  font-size: 2rem;
  background-color: #2c2e30;
  border-radius: 50%;
}

.card-text .text-small,
.aside-info-container a {
  color: #2c83b0;
}

.btn-more {
  background-color: #559dc2;
  color: #e2e1e1;
  width: 150px;
}

.articles img {
  height: 220px;
  object-fit: cover;
  object-position: top;
}
.articles h3,
.aside-info-container h3,
.articles .article-description,
.extra-text {
  color: #303030;
}

.sponsors h3 {
  color: #111213;
}

.carousel-item {
  height: 70vh;
}

.carousel-item img {
  object-fit: cover;
  object-position: top;
}
.info {
  background-color: #0f0f0f;
}

.info h4 {
  color: white;
}

.paginationjs .paginationjs-nav {
  margin-left: 0;
}

.info p,
address {
  color: #6f6e6e;
}

.info q,
p.name {
  color: var(--secondary-text-color);
}

.paginationjs {
  flex-direction: row-reverse;
  display: flex;
}

.paginationjs-nav,
.paginationjs .paginationjs-pages li > a {
  background-color: #eeeeee;
  padding: 0 8px;
  margin: 0 1px;
  border-radius: none;
  color: #9a9a9a;
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
  border-radius: 0;
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
